{layout="home/.layout"}

<div class="row">
    <div class="large-12 columns text-center">
        <h1>Juice Creative. Get fresh!</h1>
        <h2 class="lead">Marketing and Ad Campaign creation at its finest. Juice Creative will squeeze the best out of any budget.</h2>
    </div>
</div>

<div class="row">
    <div class="large-12 columns">
        <ul id="services">
            <li>
                <i class="fa fa-briefcase"></i>
                <span>Campaign Creation</span>
            </li>
            <li>
                <i class="fa fa-bullseye"></i>
                <span>Marketing Strategy</span>
            </li>
            <li>
                <i class="fa fa-money"></i>
                <span>Media Buying</span>
            </li>
            <li>
                <i class="fa fa-print"></i>
                <span>Print and Production</span>
            </li>
            <li>
                <i class="fa fa-comments"></i>
                <span>Consulting</span>
            </li>
            <li>
                <i class="fa fa-desktop"></i>
                <span>Web Development</span>
            </li>
        </ul>
    </div>
</div>